<%- include('partials/header') %>

  <div class="starter-template">
    <h1>Teste técnico Saúde iD</h1>
    <p class="lead">Teste técnico desenvolvido por Victor Cavasso para comprovar conhecimentos técnicos com maior foco
      no back-end com NodeJs/Express.</p>
  </div>

  <%- include('partials/footer') %>